src/main/resources/databaseWs.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	  xmlns:db="http://www.mulesoft.org/schema/mule/db"
	  xmlns:spring="http://www.springframework.org/schema/beans"
	  xmlns:http="http://www.mulesoft.org/schema/mule/http"
	  xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	  xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	  xmlns="http://www.mulesoft.org/schema/mule/core"
	  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
			http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
			http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
			http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
			http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
			http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="TODO" port="TODO" doc:name="HTTP Listener Configuration"/>
	<cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>
	<db:generic-config name="dbProxy-0001-db-conf" url="jdbc:highgo://172.20.20.226:5866/highgo?user=sysdba&amp;password=Ntdh@123456" driverClassName="com.highgo.jdbc.Driver" doc:name="Generic Database Configuration"/>
	<flow name="testmuleproxywsFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="TODO" allowedMethods="POST" doc:name="HTTP"/>
		<cxf:proxy-service   wsdlLocation="TODO" doc:name="CXF"  service="TODO"
							 payload="body" mtomEnabled="true" port="TODO"  namespace="TODO" soapVersion="1.2">
			<cxf:outFaultInterceptors/>
		</cxf:proxy-service>

		<component class="com.redpill.trans.WbPreOperation" doc:name="Java"/>
		<mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
		<choice doc:name="Choice">
<!--			<when expression="#[flowVars.varOperation == 'getOne']">-->
<!--				<flow-ref name="testceSub_Flow" doc:name="Flow Reference"/>-->
<!--			</when>-->
		</choice>
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<choice doc:name="Choice">
<!--				<when expression="">-->
<!--					<set-payload value="&lt;ns2:getOneResponse xmlns:ns2=&quot;http://www.test.com&quot;&gt;           &lt;oneresult&gt;            {&quot;status&quot;: &quot;false&quot;, &quot;data&quot;: [], &quot;msg&quot;: &quot;&#38169;&#35823;&quot;}          &lt;/oneresult&gt;        &lt;/ns2:getOneResponse&gt; " doc:name="Set Payload"/>-->
<!--					<logger message="&#25105;&#26159;1111111#[payload]" level="INFO" doc:name="Logger"/>-->
<!--				</when>-->
<!--				<when expression="">-->
<!--					<set-payload doc:name="Set Payload"/>-->
<!--				</when>-->
			</choice>

		</catch-exception-strategy>
	</flow>
	<sub-flow name="testceSub_Flow">
		<db:select config-ref="dbProxy-0001-db-conf" doc:name="database">
			<db:dynamic-query><![CDATA[select * from  #[flowVars.aa]]]></db:dynamic-query>
		</db:select>
		<json:object-to-json-transformer json:name="Object to JSON" doc:name="Object to JSON"/>
		<set-payload value="{status: true, data: [#[payload]], msg: &quot;获取信息成功&quot;}" doc:name="Set Payload" />
		<json:object-to-json-transformer doc:name="Object to JSON" />
		<set-payload value="
     				&lt;ns2:getOneResponse xmlns:ns2=&quot;http://www.test.com&quot;&gt;
         			&lt;zeroresult&gt;#[payload]&lt;/zeroresult&gt;
     				&lt;/ns2:getOneResponse&gt;"
					 doc:name="Set Payload" />
	</sub-flow>

</mule>