src/main/resources/httpToWsFlows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
      xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
                          http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
                          http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8085" doc:name="HTTP Listener Configuration" />
    <ws:consumer-config name="gg" service="gg" port="gg" serviceAddress="http://localhost:8088/cxf/webServices" wsdlLocation="http://localhost:8088/cxf/webServices?WSDL" doc:name="Web Service Consumer" />

<!--    <flow name="get">-->
<!--        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="GET" doc:name="HTTP" />-->
<!--        <set-payload value="&lt;gg&gt;&lt;/gg&gt;" doc:name="Set Payload" />-->
<!--        <mulexml:xslt-transformer returnClass="java.lang.String" xsl-file="conf/xslt/WeatherRequest.xslt" maxIdleTransformers="2" maxActiveTransformers="5" doc:name="XSLT">-->
<!--            &lt;!&ndash;         <mulexml:context-property key="age" value="#[message.inboundProperties.'http.query.params'.age]"/>&ndash;&gt;-->
<!--            &lt;!&ndash;         <mulexml:context-property key="name" value="#[message.inboundProperties.'http.query.params'.name]"/>&ndash;&gt;-->
<!--        </mulexml:xslt-transformer>-->
<!--        <ws:consumer config-ref="Web_Service_Consumer" operation="sayGodBye" doc:name="Web Service Consumer"/>-->
<!--        <json:xml-to-json-transformer doc:name="XML to JSON"/>-->
<!--    </flow>-->

<!--    <flow name="post">-->
<!--        <http:listener config-ref="hlc1" doc:name="HTTP" path="/" allowedMethods="POST" />-->
<!--        <component class="com.redpill.trans.formToXml" doc:name="Java" />-->
<!--        <set-payload value="&lt;TemRoot&gt;#[payload]&lt;/TemRoot&gt;" doc:name="Set Payload" />-->
<!--        <mulexml:xslt-transformer returnClass="java.lang.String" xsl-file="conf/xslt/JsonToWS.xslt" maxIdleTransformers="2" maxActiveTransformers="5" doc:name="XSLT">-->
<!--            <mulexml:context-property key="params" value="#[message.payload]"/>-->
<!--        </mulexml:xslt-transformer>-->
<!--        <component class="com.redpill.trans.XmlToSoap" doc:name="Java" />-->
<!--        <set-payload value="#[message.payload]" doc:name="Set Payload" />-->
<!--        <ws:consumer config-ref="Web_Service_Consumer" operation="sayGodBye" doc:name="Web Service Consumer"/>-->
<!--        <json:xml-to-json-transformer doc:name="XML to JSON"/>-->
<!--    </flow>-->

<!--    <flow name="json">-->
<!--        <http:listener config-ref="hlc1" doc:name="HTTP" path="/" allowedMethods="POST" />-->
<!--        <component class="com.redpill.trans.JsonToXml" doc:name="Java" />-->
<!--        <set-payload value="&lt;TemRoot&gt;#[payload]&lt;/TemRoot&gt;" doc:name="Set Payload" />-->
<!--        <mulexml:xslt-transformer returnClass="java.lang.String" xsl-file="conf/xslt/JsonToWS.xslt" maxIdleTransformers="2" maxActiveTransformers="5" doc:name="XSLT">-->
<!--            <mulexml:context-property key="params" value="#[message.payload]"/>-->
<!--        </mulexml:xslt-transformer>-->
<!--        <component class="com.redpill.trans.XmlToSoap" doc:name="Java" />-->
<!--        <set-payload value="#[message.payload]" doc:name="Set Payload" />-->
<!--        <ws:consumer config-ref="Web_Service_Consumer" operation="sayGodBye" doc:name="Web Service Consumer"/>-->
<!--        <json:xml-to-json-transformer doc:name="XML to JSON"/>-->
<!--    </flow>-->


</mule>