data/xml/DBWS/DBWS-001.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd    http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd    http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd    http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
  <http:listener-config name="001-listener-conf" host="127.0.0.1" port="8888" doc:name="HTTP Listener Configuration" />
  <cxf:configuration name="001-cxf-conf" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration" />
  <db:generic-config name="001-db-conf" url="jdbc:highgo://172.20.20.226:5866/highgo?user=sysdba&amp;password=Ntdh@123456" driverClassName="com.highgo.jdbc.Driver" doc:name="Generic Database Configuration" />
  <flow name="testmuleproxywsFlow">
    <http:listener config-ref="001-listener-conf" path="/dbws" allowedMethods="POST,GET" doc:name="HTTP" />
    <cxf:proxy-service wsdlLocation="data\wsdl\DBWS-001.wsdl" doc:name="CXF" service="redpillService" payload="body" mtomEnabled="true" port="redpillPort" namespace="http://redpill.default" soapVersion="1.2">
      <cxf:outFaultInterceptors />
    </cxf:proxy-service>
    <component class="com.redpill.trans.WbPreOperation" doc:name="Java" />
    <mulexml:dom-to-xml-transformer doc:name="DOM to XML" />
    <choice doc:name="Choice">
      <!--			<when expression="#[flowVars.varOperation == 'getOne']">-->
      <!--				<flow-ref name="testceSub_Flow" doc:name="Flow Reference"/>-->
      <!--			</when>-->
      <when expression="#[flowVars.varOperation == 'FuncOne']">
        <flow-ref name="sub-flow-0" doc:name="Flow Reference" />
      </when>
      <when expression="#[flowVars.varOperation == 'FuncTwo']">
        <flow-ref name="sub-flow-1" doc:name="Flow Reference" />
      </when>
    </choice>
    <catch-exception-strategy doc:name="Catch Exception Strategy">
      <choice doc:name="Choice">
        <!--				<when expression="">-->
        <!--					<set-payload value="&lt;ns2:getOneResponse xmlns:ns2=&quot;http://www.test.com&quot;&gt;           &lt;oneresult&gt;            {&quot;status&quot;: &quot;false&quot;, &quot;data&quot;: [], &quot;msg&quot;: &quot;&#38169;&#35823;&quot;}          &lt;/oneresult&gt;        &lt;/ns2:getOneResponse&gt; " doc:name="Set Payload"/>-->
        <!--					<logger message="&#25105;&#26159;1111111#[payload]" level="INFO" doc:name="Logger"/>-->
        <!--				</when>-->
        <!--				<when expression="">-->
        <!--					<set-payload doc:name="Set Payload"/>-->
        <!--				</when>-->
        <when expression="#[flowVars.varOperation == 'FuncOne']">
          <set-payload value="&lt;ns2:FuncOneResponse xmlns:ns2=&quot;http://redpill.default&quot;&gt;           &lt;result&gt;            {&quot;status&quot;: false, &quot;data&quot;: [], &quot;msg&quot;: &quot;错误&quot;}          &lt;/result&gt;        &lt;/ns2:FuncOneResponse&gt; " />
        </when>
        <when expression="#[flowVars.varOperation == 'FuncTwo']">
          <set-payload value="&lt;ns2:FuncTwoResponse xmlns:ns2=&quot;http://redpill.default&quot;&gt;           &lt;result&gt;            {&quot;status&quot;: false, &quot;data&quot;: [], &quot;msg&quot;: &quot;错误&quot;}          &lt;/result&gt;        &lt;/ns2:FuncTwoResponse&gt; " />
        </when>
      </choice>
    </catch-exception-strategy>
  </flow>
  <!--	<sub-flow name="testceSub_Flow">-->
  <!--		<db:select config-ref="dbProxy-0001-db-conf" doc:name="database">-->
  <!--			<db:dynamic-query><![CDATA[select * from  #[flowVars.aa]]]></db:dynamic-query>-->
  <!--		</db:select>-->
  <!--		<json:object-to-json-transformer json:name="Object to JSON" doc:name="Object to JSON"/>-->
  <!--		<set-payload value="{status: true, data: [#[payload]], msg: &quot;获取信息成功&quot;}" doc:name="Set Payload" />-->
  <!--		<json:object-to-json-transformer doc:name="Object to JSON" />-->
  <!--		<set-payload value="-->
  <!--     				&lt;ns2:getOneResponse xmlns:ns2=&quot;http://www.test.com&quot;&gt;-->
  <!--         			&lt;zeroresult&gt;#[payload]&lt;/zeroresult&gt;-->
  <!--     				&lt;/ns2:getOneResponse&gt;"-->
  <!--					 doc:name="Set Payload" />-->
  <!--	</sub-flow>-->
  <sub-flow name="sub-flow-0">
    <db:select config-ref="001-db-conf" doc:name="database">
      <db:dynamic-query><![CDATA[select * from user_tables]]></db:dynamic-query>
    </db:select>
    <json:object-to-json-transformer json:name="Object to JSON" doc:name="Object to JSON" />
    <set-payload doc:name="Set Payload" value="&lt;ns2:FuncOneResponse xmlns:ns2=&quot;http://redpill.default&quot;&gt;&lt;result&gt;{&quot;status&quot;: false, &quot;data&quot;: [#[payload]], &quot;msg&quot;: &quot;获取信息成功&quot;}&lt;/result&gt;&lt;/ns2:FuncOneResponse&gt;" />
  </sub-flow>
  <sub-flow name="sub-flow-1">
    <db:select config-ref="001-db-conf" doc:name="database">
      <db:dynamic-query><![CDATA[select #[flowVars.c] from #[flowVars.d]]]></db:dynamic-query>
    </db:select>
    <json:object-to-json-transformer json:name="Object to JSON" doc:name="Object to JSON" />
    <set-payload doc:name="Set Payload" value="&lt;ns2:FuncTwoResponse xmlns:ns2=&quot;http://redpill.default&quot;&gt;&lt;result&gt;{&quot;status&quot;: false, &quot;data&quot;: [#[payload]], &quot;msg&quot;: &quot;获取信息成功&quot;}&lt;/result&gt;&lt;/ns2:FuncTwoResponse&gt;" />
  </sub-flow>
</mule>

